<h2 mat-dialog-title>{{ data.id ? "Edit User" : "Create User" }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="form-container">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          [(ngModel)]="data.firstName"
          required
        />
        <mat-error *ngIf="userForm.get('firstName')?.invalid">
          First Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          [(ngModel)]="data.lastName"
          required
        />
        <mat-error *ngIf="userForm.get('lastName')?.invalid">
          Last Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="data.email" required />
        <mat-error *ngIf="userForm.get('email')?.invalid">
          Email is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Contact No.</mat-label>
        <input
        matInput
        placeholder="Contact Number"
        formControlName="contactNumber"
        [(ngModel)]="data.contactNumber"
        required
        />
        <mat-error *ngIf="userForm.get('contactNumber')?.invalid">
          Contact Number is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<div class="flex">
  <mat-dialog-actions class="actions">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button [disabled]="userForm.invalid" color="primary" (click)="onSave()">Save</button>
  </mat-dialog-actions>
</div>
